APP_ENV=local
APP_NAME=junction-api
APP_DEBUG=true
APP_VERSION=dev

LOG_LEVEL=debug

DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=junction
DB_USERNAME=junction
DB_PASSWORD=junction

QUEUE_HOST=127.0.0.1
QUEUE_PORT=5672
QUEUE_USER=guest
QUEUE_PASSWORD=guest
